<nav class="navbar">
  <ul class="nav-links">
    <div>LOGO</div>
    <div class="login-register-container">
      <li><a class="link" href="/login">Login</a></li>
      <li><a class="link" href="/register">Register</a></li>
    </div>
  </ul>
</nav>
