<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Full Stack Shop</title>
  </head>
  <body>
    <header><%- include('partials/navbar') %></header>
    <main>
      <section class="landing-page-text">
        <h1>Welcome to Full Stack Shop</h1>
        <p>Buy your favorite products here</p>
      </section>
    </main>
  </body>
</html>
