<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="/javascripts/register.js" defer></script>
    <title>Register</title>
  </head>
  <body>
    <header><%- include('partials/navbar') %></header>
    <h1>Register</h1>
    <form class="register-form" action="/register" method="POST">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <br />
      <label for="userType">Register as:</label>
      <input type="radio" id="seller" name="userType" value="seller" required />
      <label for="seller">Seller</label>
      <input type="radio" id="buyer" name="userType" value="buyer" required />
      <label for="buyer">Buyer</label>
      <br />
      <button type="submit">Register</button>
    </form>
    <!-- Placeholder for the message -->
    <div id="registration-message"></div>
  </body>
</html>
