/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles */
body {
  padding: 1rem;
}

/* Navbar */
.navbar {
  margin-bottom: 5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

/* Landing page content */
.landing-page-text {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.4rem;
}

p {
  font-size: 1.6rem;
}
